<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
      <div class="w-full justify-start items-center gap-8 grid lg:grid-cols-2 grid-cols-1">
          <div class="w-full flex-col justify-start lg:items-start items-center gap-10 inline-flex">
              <div class="w-full flex-col justify-start lg:items-start items-center gap-4 flex">
                  <h2 class="text-gray-900 text-4xl font-bold font-manrope leading-normal lg:text-start text-center">Three Kings Judo: A Community for All</h2>
                  <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">Three Kings Judo welcomes everyone, from beginners to seasoned athletes. Founded as a small group of enthusiasts, we\u2019ve grown into a vibrant community where discipline, respect, and resilience thrive. Our tailored programs suit all ages and skill levels, offering foundational classes, advanced training, and youth programs. Whether you're here to compete, stay active, or connect, you’ll find your place with us. Join us and become part of the Three Kings Judo family.</p>
              </div>
              <button class="sm:w-fit w-full px-3.5 py-2 bg-logo-color hover:bg-dark-color-logo transition-all duration-700 ease-in-out rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] justify-center items-center flex">
                  <span class="px-1.5 text-white text-sm font-medium leading-6">Join Us!</span>
              </button>
          </div>
          <img class="lg:mx-0 mx-auto h-full rounded-3xl object-cover" src="https://scontent.fakl2-1.fna.fbcdn.net/v/t39.30808-1/368706941_671180248365495_5717300144262794586_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=104&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=RGNUHQe296IQ7kNvgFrydSL&_nc_zt=24&_nc_ht=scontent.fakl2-1.fna&_nc_gid=A3rJJtztVy5ugtj7ocflzYm&oh=00_AYDxDvRUQL65MYJe59PpVaBiQJSl0QfiEHhKjT0qVvIFmw&oe=677BF342" alt="about Us image" />
      </div>
  </div>
</section>
                                      