<section class="bg-center bg-cover bg-no-repeat bg-[url('coverpage-aboutus.jpg')] bg-logo-color overflow-hidden">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <!-- Animated Heading -->
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl animate-slide-in-up">
      About Us
    </h1>
    <!-- Button with "ringing" effect -->
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
    </div>
  </div>
</section>
