<div class="bg-green-50 py-16 px-4 mt-[64px] shadow-xl">
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-black text-center">
        Meet the Coaches
      </h1>
      <div class="w-24 h-1 bg-yellow-400 rounded-full"></div>
      <p class="text-lg md:text-xl text-black text-center max-w-2xl">
        Learn from our expert coaches who are passionate about helping you achieve your fitness goals
      </p>
    </div>
  </div>
</>