<div class="bg-white py-16 px-4 mt-8 shadow-xl">
  <div class="mt-12"></div>
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-black text-center">
        Meet the Team
      </h1>
      <div class="w-24 h-1 bg-logo-color rounded-full"></div>
      <p class="text-lg md:text-xl text-black text-center max-w-2xl">
        At ThreeKings Judo Club, our experienced instructors and staff are dedicated to helping you grow in the art of judo. With a passion for teaching and a commitment to fostering a supportive environment, our team is here to guide judoka of all levels on their journey.
      </p>
    </div>
  </div>
</>