<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
  <div class="absolute inset-0">
    <img src="groupjudophoto.jpg" alt="Background Image" class="object-cover object-center w-full h-full" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>
  
  <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
    <h1 class="text-5xl font-kosugi leading-tight mb-4">ThreeKingsJudo</h1>
    <p class="text-lg text-gray-300 mb-8">If there is effort, there Is always accomplishment - Kano Jigoro</p>
    <a href="#" class="bg-logo-color text-white hover:bg-dark-color-logo py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg font-kosugi">Get Started</a>
  </div>
</div>
