<div class="bg-gray-100 py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <!-- Card -->
      <div class="relative group">
        <img
          src="linda-photo.jpg"
          alt="Team Member"
          class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
        <div class="text-center mt-2">
          <h3 class="text-black text-xl font-semibold">Linda Hallas</h3>
          <p class="text-gray-600 text-sm">Founder/Head Coach</p>
        </div>
      </div>

      <!-- Card -->
      <div class="relative group">
        <img
          src="https://scontent.fakl2-1.fna.fbcdn.net/v/t39.30808-6/462176206_10162230475902090_7426787620791801744_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=b04a48&_nc_ohc=fVmOh_Ykn8oQ7kNvgHwsqAU&_nc_zt=23&_nc_ht=scontent.fakl2-1.fna&_nc_gid=AJ3vWu9fI9-A9CDJ1z3XcKv&oh=00_AYACYOLXHoioO0CBizXB9mReLzE-UuHFmHzNiG226A-pQQ&oe=6777E093"
          alt="Team Member"
          class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
        <div class="text-center mt-2">
          <h3 class="text-black text-xl font-semibold">Judd Hallas</h3>
          <p class="text-gray-600 text-sm">Founder/Head Coach</p>
        </div>
      </div>

      <!-- Card -->
      <div class="relative group">
        <img
          src="https://scontent.fakl2-1.fna.fbcdn.net/v/t39.30808-6/460488889_963138862200722_3858128863312604571_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=QpzpJzCNi9gQ7kNvgGNCUSE&_nc_zt=23&_nc_ht=scontent.fakl2-1.fna&_nc_gid=ALqk0zr8aM297ghWkeY895V&oh=00_AYDiEIlHd2mLjQkVUK-NW1COA6C8h8GuCJtF9VL1jdd_Rw&oe=6777D72F"
          alt="Team Member"
          class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
        <div class="text-center mt-2">
          <h3 class="text-black text-xl font-semibold">Zayniddin Pakrov</h3>
          <p class="text-gray-600 text-sm">Judo Coach</p>
        </div>
      </div>

      <!-- Card -->
      <div class="relative group">
        <img
          src="https://scontent.fakl2-1.fna.fbcdn.net/v/t39.30808-6/463787799_1080864050229545_3571058170510984939_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=wZvgOo9kSPAQ7kNvgHD9Sa5&_nc_zt=23&_nc_ht=scontent.fakl2-1.fna&_nc_gid=AyRJVG3zMp1LNJnZ3EMeA_1&oh=00_AYDwUpTwPUS3TgzxAK6kZqlZdgv-o4uSxUAAjUR8Ogf-Gg&oe=6777FD65"
          alt="Team Member"
          class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
        <div class="text-center mt-2">
          <h3 class="text-black text-xl font-semibold">Saifaldeen Hassan</h3>
          <p class="text-gray-600 text-sm">Club Manager/Judo Coach</p>
        </div>
      </div>
    </div>
  </div>
</div>
