<nav class="fixed top-0 left-0 w-full bg-white border-gray-200 py-2.5 dark:bg-gray-700 z-50 shadow-md">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Logo and Title -->
    <a href="/" class="flex items-center">
      <img src="testlogo2.png" class="h-16 sm:h-20 mr-3" alt="ThreeKingsJudo Logo" />
      <span class="text-lg sm:text-xl font-kosugi font-semibold text-black whitespace-nowrap dark:text-gray-400"></span>
    </a>

    <!-- Right Side: Button and Hamburger -->
    <div class="flex items-center lg:order-2">
      <!-- Hamburger Button -->
      <button id="hamburger-btn" data-collapse-toggle="mobile-menu-2" type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mobile-menu-2" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <!-- Navigation Links -->
    <div class="hidden items-center justify-between w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
      <ul id="nav-links" class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
          <a href="/" class="nav-link block py-2 pl-3 pr-4 text-gray-700 rounded hover:animate-hover-bounce lg:hover:bg-transparent lg:border-0 lg:p-0 hover:text-logo-color dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent">
            Home
          </a>
        </li>
        <li>
          <a href="/aboutus" class="nav-link block py-2 pl-3 pr-4 text-gray-700 rounded hover:animate-hover-bounce lg:hover:bg-transparent lg:border-0 lg:p-0 hover:text-logo-color dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent">
            About Us
          </a>
        </li>
        <li>
          <a href="/classes" class="nav-link block py-2 pl-3 pr-4 text-gray-700 rounded hover:animate-hover-bounce lg:hover:bg-transparent lg:border-0 lg:p-0 hover:text-logo-color dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent">
            Classes
          </a>
        </li>
        <li>
          <a href="/teampage" class="nav-link block py-2 pl-3 pr-4 text-gray-700 rounded hover:animate-hover-bounce lg:hover:bg-transparent lg:border-0 lg:p-0 hover:text-logo-color dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent">
            Our Coaches
          </a>
        </li>
        <li>
          <a href="/contactus" class="nav-link block py-2 pl-3 pr-4 text-gray-700 rounded hover:animate-hover-bounce lg:hover:bg-transparent lg:border-0 lg:p-0 hover:text-logo-color dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>





<!-- Add a spacer div to push the page content down, so it's not hidden behind the fixed navbar -->
<!-- <div class="pt-16"></div> -->